p {
  font-family: Lato;
}

#Candidates {
  text-align: left;
  font-size: 30px;
}

#new_candidates {
  text-align: left;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#male {
  margin-right: 200px;
  margin-bottom: 300px;
}

#Candidates_form {
  margin-top: 50px;
}

#fname {
  margin-right: 100px;
  margin-bottom: 30px;
}

#femaleRadio {
  margin-right: 50px;
}
#maleRadio {
  margin-right: 150px;
}
